<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout" appendLineSeparator="true">
            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>

    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs.txt</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n%throwable</pattern>

        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>test.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="jsonLogger" additivity="false" level="DEBUG"/>

    <logger name="org.springframework" additivity="false" level="ERROR"/>

    <logger name="com.javacodegeeks.examples.logbackexample.beans" level="INFO" additivity="false"/>

    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" level="info"/>
        <appender-ref ref="FILE" level="debug"/>
    </root>
</configuration>

